@page "/"
@using RecordShop.Web.Models

<PageTitle>Home</PageTitle>

<h2>Welcome to Midnight Groove!</h2>

<p>
    Browse albums, check stock, and discover your next favourite record.
</p>


<RecordsLoader />

@code
{
   
}