@inherits LayoutComponentBase

<div class="page">
    
    <header>
        <h1>Midnight Groove</h1>

        <p>Classic records</p>

        <NavMenu />

    </header>

    <main>

         @Body
         
    </main>

    <footer>
        
        <p>Nazmul Hussain - @DateTime.Now.Year</p>

    </footer>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
