<nav class="navbar">
    
                <NavLink class="navbar-item" href="/">
                    Home
                </NavLink>
                <NavLink class="navbar-item" href="/records">
                    Records

                </NavLink>
 
</nav>