<nav class="navbar">
    <div class="navbar-menu is-active">

        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>
        </div>

    </div>
</nav>