@using Microsoft.AspNetCore.Components.Forms
@using System.Net.Http.Json
@using RecordShop.Web.Models
@using RecordShop.Web.Components

<h3>AddRecordForm</h3>


<EditForm Model="newRecord" OnValidSubmit="submit">
    <label>Title</label>
    <InputText @bind-Value="newRecord.Title" />
    <label>Artist</label>
    <InputText @bind-Value="newRecord.Artist" />
    <label>Genre</label>
    <InputText @bind-Value="newRecord.Genre" />
    <label>ReleaseYear</label>
    <InputNumber @bind-Value="newRecord.ReleaseYear" />
    <label>Price</label>
    <InputNumber @bind-Value="newRecord.Price" />
    <label>StockQuantity</label>
    <InputNumber @bind-Value="newRecord.StockQuantity" />
    <button type="submit">Add Record</button>
</EditForm>

@if (createdMessage != null)
{
    <p>@createdMessage</p>
}

@code {
    private string? createdMessage;
    private Record newRecord = new Record();

    private async Task submit()
    {
        try
        {
            HttpClient httpClient = new HttpClient();
            var response = await httpClient.PostAsJsonAsync(
            "https://localhost:7060/api/albums", newRecord
            );

            if (response.IsSuccessStatusCode)
            {
                createdMessage = "New Record Added";
            }
            else
            {
                createdMessage = "Could not add record.";
            }

        } catch (Exception ex)
        {
            createdMessage = "Error adding new record: " + ex.Message;
        }
    }

}
