@using RecordShop.Web.Models
<h3>RecordSummary</h3>
<h4>@Record.Title</h4> 
<h4>@Record.Artist</h4>
<h4>@Record.Genre</h4> 

@code {
    [Parameter]
    public Record Record { get; set; } = default!;
}
