@using RecordShop.Web.Models
    <NavLink href="@($"/records/{Record.Id}")">
        <h4>@Record.Title</h4>
        <p>@Record.Artist</p>
        <p>@Record.Genre</p>
    </NavLink>


@code {
    [Parameter]
    public Record Record { get; set; } = default!;
}
